h5 {
  color: #31384e;
}

.flower-icon {
  background-image: url(@/assets/img/panda/99443_flower_icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 52px;
  width: 52px;
}

.swiper-product {
  background-color: $yellowLight;
}

.swiper-top_bg {
  background-image: url(@/assets/img/panda/top_main_bg01.png);
  background-repeat: repeat-x;
  height: 60px;
  width: 100%;
}

.recommend-product {
  background-image: url(@/assets/img/panda/top_gallery_bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.recommend-top_bg {
  background: $yellowLight;
  background-repeat: repeat-x;
  width: 100%;
  height: 60px;
  mask-image: url(@/assets/img/panda/top_main_bg01.png);
}

.new-trend{
    a:hover{
      .img-pseudo {
        background-color:rgba($color: #000000, $alpha: 0.6);
      }
      .pseudo-text {
        transform: translateY(0);
        opacity: 1;
      }
    }
  .img-pseudo {
    position: absolute;
    background-color:rgba($color: #000000, $alpha:0);
    width: 100%;
    height: 100%;
    left: 0;
    transition: all .4s ease-out;
    
  }
  .pseudo-text{
    position: absolute;
    bottom:0;
    transition: all .4s ease-out;
    transform: translateY(180%);
    opacity: 0;
  }
  .product-img{
    background-image: url(@/assets/img/panda/Mask_Group2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    display: block;
  }
}



.recommend-img {
  .pseudo-text {
    position: absolute;
    bottom: 10%;
    left: 10%;
    transition: all .4s ease-out;
    transform: translateY(180%);
  }
  .img-pseudo {
    position: absolute;
    background-color: #000;
  
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0;
    transition: all .4s ease-out;
  }
  a:hover {
    .img-pseudo {
      opacity: 0.6;
    }

    .pseudo-text {
      transform: translateY(0);
    }
  }
}