.background-primary{
  background-color:#f9f5e8 ;
}
.background-secondary{
  background-image: url(@/assets/img/panda/top_gallery_bg.jpeg);
  background-size: auto;
  width: 100%;
  height: 100%;
}


.primary-top_bg {
  background: $yellowLight;
  background-repeat: repeat-x;
  width: 100%;
  height: 60px;
  mask-image: url(@/assets/img/panda/top_main_bg01.png);
}
.secondary-top_bg{
background-image:url(@/assets/img/panda/top_gallery_bg.jpeg);
background-repeat: repeat-x;
width: 100%;
height: 60px;
mask-image: url(@/assets/img/panda/top_main_bg01.png);
}
