// bootstrap 
@import "~bootstrap/scss/functions";
// import 'swiper/css';
@import "./helpers/variables";

@import "~bootstrap/scss/bootstrap";
@import 'swiper/css';

@import './custom/custom';


@import './components/subscription';
@import './components/footer';


@import './pages/homeView';